@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Mulish', sans-serif;
}

.notdisplayed {
    display: none;
}

.displayed {
    display: flex;
}

.main {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images//person.jpg');
    background-size: cover;
}

.testimonial {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/bg_wall.jpg');
    background-size: cover;
}

.footer {
    background-color: #262b3f;
}