@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

.notdisplayed {
    display: none;
}

.displayed {
    display: flex;
}

.main {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images//person.jpg');
    background-size: cover;
}

.testimonial {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/bg_wall.jpg');
    background-size: cover;
}